black==23.9.0
click==8.1.7
pytest==7.4.2
pytest-cov==4.1.0
pylint==2.17.5
nbval==0.10.0
pre-commit==3.4.0

fastapi==0.78.0
uvicorn[standard]==0.23.2
aiofiles==23.2.1
python-multipart==0.0.6
torch==2.0.1
openai-whisper==20230314
tiktoken==0.3.1
